@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fafafa;
  --cyan600: #4d96a9;
  --cyan300: #8fe3f9;
  --purple600: #855fb1;
  --Purple300: #d9b8ff;
  --slate900: #28283d;
  --slate600: #87879d;
  --slate300: #d1d1df;
}

html {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--white);
}

main {
  max-width: 1440px;
  margin: auto;
}


/* // <weight>: Use a value from 300 to 900
// <uniquifier>: Use a unique and descriptive class name

.red-hat-display-<uniquifier> {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



h1 {
  /*   font-size: 64px; */
  line-height: 110%;
  font-weight: 900;
  color: var(--slate900);
}

h3 {
  /*   font-size: 16px; */
  line-height: 110%;
  letter-spacing: 4px;
  color: var(--cyan600);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

h2 {
  /*   font-size: 40px; */
  line-height: 110%;
  font-weight: 900;
  font-size: 2rem;
}

/*Buttons customization - START*/

.btn {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  line-height: 150%;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-size: medium;
  border: 0;
  width: fit-content;
  margin: auto;
}
.download-1 {
  background-color: var(--cyan600);
  span {
    color: var(--cyan300);
  }
}

.download-1:hover {
  background-color: #71c0d4;
}
.details,
.download-2 {
  background-color: var(--purple600);
  span {
    color: var(--slate300);
  }
}

.details:hover,
.download-2:hover {
  background-color: #b18bdd;
}
/*Buttons customization - END*/
.hero { /*the big container*/
  display: flex;
  overflow: hidden;
  
}

.heroimg { /*the images*/
    width: 100%;
    
}

.maintext{
    max-width: 30rem;
    margin: auto;
}

p {
  color: var(--slate600);
  font-size: 1rem;
  margin-block-start: 2rem;
  font-weight: 600;
}

.maingroup {
 
  width: fit-content;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.maingroup-text {
  /* width: 20rem; */
    justify-content: center;
  text-align: center;
  margin: auto;
}

.buttons{
    margin: auto;
  justify-content: center;
  text-align: center;
}

.logo {
  margin: auto;
}

.nav {
  /*     border: 2px solid black; */
  align-content: center;
  display: flex;
  margin-block-start: 2rem;
  margin-block-end: 4rem;
}




.buttons {
  margin-block-start: 2rem;
  margin-block-end: 3rem;
  gap: 1rem;
  display: grid;
}

.vl {
  border-left: 0.1rem solid var(--slate300);
  height: 5rem;
}

.step {
  border: 0.1rem solid var(--slate300);
  /*     width:3rem;
    height: 3rem; */
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1/1;
  color: var(--slate600);
  font-size: 1rem;
  font-weight: 800;
  background-color: var(--white);
}

.gallery {
  display: grid;
  gap: 1rem;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-block-end: 3rem;
}

.gal {
  /* width:100%; */
  max-width: 15rem;
}
.galimg {
  width: 100%;
  border-radius: 0.5rem;
}

.main-content {
  width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.foot {
  justify-content: center;
  text-align: center;
  color: var(--white);
  background-color: var(--cyan600);
  background-image: url(assets/mobile/image-footer.jpg);
  background-size: cover;
  fill: var(--cyan600);
  background-position: center;
  background-blend-mode: lighten, difference, color-dodge, hard-light;
  background-blend-mode: hard-light;
}

.foot-content {
  background-color: rgba(77, 150, 168, 0.85);
  padding: 4rem 2rem;
}

.foottext {
    max-width: 33rem;
    margin: auto;
}

.seperator {
  margin-block-end: 4rem;
  align-items: center;
  justify-items: center;
}

.s2 {
  position: relative;
  inset-block-end: -5.6rem;
}

.p-white {
  color: var(--white);
  margin-block-end: 2rem;
  font-weight: 400;
}

@media (max-width: 767px){

.hero-left,
.hero-right { 
display: none;
}
.hero-small {
  width: 115vw;
  margin-inline-start: -8vw;
}

.maingroup h1 {
  font-size: 2.5rem;
  max-width: 18rem;
  margin: auto;
}

.maingroup p {
  max-width: 20rem;
}

.hero {
    display: block;
}
.herosimg{

  width: 100%;
}

.maingroup{
  margin-block-start: 3rem;
}

}


@media (min-width: 768px) and (max-width:1099px){

.maingroup {
  margin-block-start: 4rem;
  width: 27rem;
}


h1 {
  font-size: 3rem;
}

  .gallery {
    display: grid;
    gap: 1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-block-end: 3rem;
  }

  .gal {
  /* width:100%; */
  max-width: 20rem;


}
.hero {
    display: block;
}

.hero-small {
  width: 110vw;
  margin-inline-start: -5vw;
    align-items: center;
  justify-items: center;
  align-content: center;
display: flex;

}

.herosimg{
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: 820px;
}

.buttons{
    display: flex;
}
.btn p,.btn span,.btn{
    flex:none;
}

.foot {
    background-image: url(assets/tablet/image-footer.jpg);
    
}
.hero-left,
.hero-right { 
display: none;
}





.p-white {
 max-width: 70vw;
    margin-inline: auto;

}




}


@media (min-width:1100px){

.hero-right { 
     padding: 3rem 0 0 0;
    margin-inline-end: -4vw;
  
  }

.hero-left {
margin-inline-start: -4vw;

}


.heroimg { /*the images*/
    width: 100%;
}


.hero{
flex-shrink: 1;

  }

.hero-small{
    display: none;
}

  .gallery {
    display: grid;
    gap: 1rem;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-block-end: 3rem;
  }

  .gal {
  /* width:100%; */
  max-width: 20rem;


}
.foot {
    background-image: url(assets/desktop/image-footer.jpg);
    
}

.foottext {
    display: flex;
    max-width: 150rem;
}

.foottext p,.foottext h2,.foottext button {
    max-width: 20rem;
    margin: auto;
    text-align: start;
}

.buttons{
    display: flex;

}
.btn p,.btn span,.btn{
    flex:none;
}

h1 {
font-size: 4rem;

}

.maingroup-text{
  max-width: 28rem;
}

.h2foot {
  font-size: 2.5rem;
}
}

@media (min-width:1441px){
.hero-left,.hero-right{
  margin-inline-start: 0;
  margin-inline-end: 0;
}
}